Source: ros-rolling-rosbridge-test-msgs
Section: misc
Priority: optional
Maintainer: Jihoon Lee <jihoonlee.in@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libactionlib-msgs-dev, libdiagnostic-msgs-dev, libgeometry-msgs-dev, libnav-msgs-dev, libsensor-msgs-dev, libstd-msgs-dev, libstd-srvs-dev, libstereo-msgs-dev, libtf2-msgs-dev, libtrajectory-msgs-dev, libvisualization-msgs-dev, python3-actionlib-msgs, python3-diagnostic-msgs, python3-geometry-msgs, python3-nav-msgs, python3-sensor-msgs, python3-std-msgs, python3-std-srvs, python3-stereo-msgs, python3-tf2-msgs, python3-trajectory-msgs, python3-visualization-msgs, ros-actionlib-msgs, ros-diagnostic-msgs, ros-geometry-msgs, ros-nav-msgs, ros-rolling-ament-cmake, ros-rolling-ament-cmake-pytest, ros-rolling-builtin-interfaces, ros-rolling-example-interfaces, ros-rolling-rosidl-default-generators, ros-sensor-msgs, ros-std-msgs, ros-std-srvs, ros-stereo-msgs, ros-tf2-msgs, ros-trajectory-msgs, ros-visualization-msgs, ros-rolling-ros-workspace, ros-rolling-rosidl-typesupport-fastrtps-c, ros-rolling-rosidl-typesupport-fastrtps-cpp
Homepage: http://ros.org/wiki/rosbridge_library
Standards-Version: 3.9.2

Package: ros-rolling-rosbridge-test-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgeometry-msgs-dev, libstd-msgs-dev, python3-geometry-msgs, python3-std-msgs, ros-geometry-msgs, ros-rolling-builtin-interfaces, ros-rolling-rclpy, ros-rolling-rosidl-default-runtime, ros-std-msgs, ros-rolling-ros-workspace
Description: Message and service definitions used in internal tests for rosbridge packages.
